* {
    box-sizing: border-box;
    font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;

}

body {
    padding: 0;
    overflow-x: hidden;
    margin: 0;
}

.image {
    height: 40px;
    width: 70px;
}

.top {
    margin-top: 100px;
}

.small-font {
    font-size: 12px !important;
}

.small-font-1 {
    font-size: 14px !important;
}

.size {
    width: 90%;
}

.image-size {
    width: 380px;
}

.fa-search {
    position: absolute;
    opacity: 0.3;
    margin-left: 11px;
    margin-top: 16px;
}

.hover {
    font-size: 12px;
}

.hover :hover {
    border-bottom: 3px solid green;
}

.hover :hover .content-list {
    visibility: visible;
}

.border-line {
    box-shadow: 0 5px 5px #f5f3f3;
    background-color: #f5f3f3;
}

.background {
    background-color: #f5f3f3;
}

.fa-magnifying-glass {
    opacity: 0.3;
    background-color: #f5f3f3;
}

.input-1 {
    border: none;
    outline: none;
}

.input-1::placeholder {
    opacity: 0.3;
    font-size: 13px !important;
}

.select {
    padding: 5px;
    margin-top: 20px;
}

.sizeOne {
    font-size: 16px;
    font-weight: 400;
}

.sizeTwo {
    font-size: 16px;
    font-weight: 400;
}

.fa-angle-right {
    color: red;
}

.buttons {
    margin-top: 20px;
}

.btn-1 {
    width: 50%;
    border-radius: 4px;
    background-color: #ff3e6c;
    border: 1px solid #ff3e6c;
}

.btn-2 {
    width: 30%;
    border-radius: 4px;
    background-color: white;
    border: 1px solid #eeebec;
}

.none {
    border: none;
}

.pin {
    border-radius: 3px;
}

.circle {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;
    margin-left: 5px;
    background: #fff;
    border: 1px solid rgb(236, 234, 234);
    text-align: center;
}

.padding {
    margin-left: 30px;
    opacity: 0.8;
    display: flex;
    justify-content: space-between;
}

.left {
    padding-left: 20px;
}

.fa-user {
    padding-left: 15px;
    color: black !important;
    font-size: 18px;

}

.fa-heart {
    padding-left: 15px;
    color: black !important;
    font-size: 20px;
}

.fa-bag-shopping {
    font-size: 20px;
    color: black !important;
    padding-left: 6px;
}

.fa-star {
    color: green;

}

hr {
    opacity: 0.3;
    height: 25px;
}

h5 {
    color: #535665;
    font-size: 20px;
    opacity: .8;
    font-weight: 400;
}

a {
    text-decoration: none;
    font-size: 15px;
}

.clear {
    clear: both;
}

.profile {
    width: 100%;
    height: 100%;
}

.width {
    width: 50%;
}

.orange {
    color: orangered;
    font-size: 22px;
    font-weight: 500;
}

.green {
    color: green;
    font-size: 12px;
    font-weight: 700;
    padding: 2px;
    opacity: 0.7;
}

.font {
    font-size: 22px;
    font-weight: 700;
}

.del {
    opacity: 0.3;
    font-size: 22px;
    font-weight: 200;
}

.width-1 {
    width: 50%;
    margin-top: 20px;
}

.width-1 ::placeholder {
    padding-left: 5px;
    opacity: 0.7;
    justify-content: end;
}

.font-1 {
    font-size: 16px !important;
    font-weight: 100;
}

.list {
    font-weight: 400;
    font-size: 16px !important;
}

.pink {
    font-weight: 700;
    font-size: 14px !important;
    color: rgb(231, 84, 108);
}

.details {
    font-size: 14px !important;
    padding: 5px;
    font-weight: 400;

}

.table-1 {
    width: 100%;
}

.table-2 {
    width: 100%;
}

.equal {
    width: 50%;
}

.equal-1 {
    width: 50%;
    border-right: 1px solid rgb(228, 218, 218);
}

.small {
    font-weight: 300;
    padding: 5px;
    font-size: 12px !important;
    opacity: 0.7;
}

.small-text {
    font-weight: 300;
    font-size: 16px !important;

}

.font-1 .fa-star {
    color: black;
}

.light {
    font-weight: 300;
    font-size: 36px !important;
}

.large-star {
    font-size: 30px;
    color: rgb(21, 197, 115) !important;
}

.small-star {
    font-size: 10px;
    opacity: 0.5;
}

.width-pg {
    height: 3px;
    width: 50%;
}

.progress {
    height: 5px;
    width: 40%;
}

.fonts {
    font-size: 16px !important;
    font-weight: 500;

}

.box {
    background-color: rgb(5, 203, 137);
    color: white;
    width: 20px;
    padding: 2px;
    font-size: 8px;
}

.box-1 {
    position: absolute;
    bottom: 158px;
    left: 10px;
    background-color: rgb(226, 231, 230);
    color: rgb(17, 16, 16);
    width: 31px;
    padding: 2px;
    font-size: 10px !important;
}

.box-2 {
    position: absolute;
    bottom: 170px;
    left: 10px;
    background-color: rgb(226, 231, 230);
    color: rgb(17, 16, 16);
    width: 31px;
    padding: 2px;
    font-size: 10px !important;
}

.box-3 {
    position: absolute;
    bottom: 150px;
    left: 10px;
    background-color: rgb(226, 231, 230);
    color: rgb(17, 16, 16);
    width: 31px;
    padding: 2px;
    font-size: 10px !important;
}

.fa-star-half {
    font-size: 10px;
    color: rgb(0, 128, 0)
}

.box .fa-star {
    font-size: 8px;
    color: white;
}

.like {
    font-size: 12px;
    font-weight: 200;
}

.dislike {
    padding-left: 37%;
}

.dislike-3 {
    padding-left: 41%;
}

.dislike-2 {
    padding-left: 43%;
}

.details-1 {
    font-size: 14px !important;
    font-weight: 300;
}

.resize {
    width: 50px;
    height: 50px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.images {
    width: 18rem;
}

.gap {
    margin-left: 20px;
}

.gap .orange {
    font-size: 10px !important;
}

.bold {
    font-size: 16px !important;
    font-weight: 600;
}

.btn {
    border-radius: 30px;
    padding: 15px;
}

.space {
    padding-left: 25%;
}

.button-new {
    width: 30px;
    height: 16px;
    color: white;
    border-radius: 8px;
    background-color: red;
    font-size: 6px !important;
    padding: 2px;
}

.app {
    width: 70%;

}

.original {
    width: 30px;
    height: 30px;
}

.fa-facebook-square {
    font-size: 20px;
}

.fa-twitter {
    font-size: 20px;
    padding-left: 5px;
}

.fa-youtube {
    font-size: 20px;
    padding-left: 5px;

}

.fa-camera-retro {
    font-size: 20px;
    padding-left: 5px;
}

.footer-font {
    font-size: 14px !important;
}

.gap-1 {
    padding-left: 30px;
}

.card-title {
    color: black;
    font-size: 15px !important;
    font-weight: 700;
}

.card-text {
    opacity: 0.7;
    font-size: 12px !important;
}
.width-rating {
    width: 150px
}

.width-3 {
    width: 50%;
}

.width-2 {
    width: 50%;
}

.padding-null {
    padding: 0;
}

.margin-t {
    margin-top: 9px;
}

.nav-item-1 {
    padding-bottom: 6px;
}

.nav-item-2 {
    padding-bottom: 6px;
}

.nav-item-3 {
    padding-bottom: 6px;
}

.nav-item-4 {
    padding-bottom: 6px;
}

.nav-item-5 {
    padding-bottom: 6px;
}

.nav-item-6 {
    padding-bottom: 6px;
}

.nav-item-1:hover {
    border-bottom: 4px solid rgb(235, 50, 50);
}

.nav-item-2:hover {
    border-bottom: 4px solid rgb(233, 61, 204);
}

.nav-item-3:hover {
    border-bottom: 4px solid rgb(231, 120, 45);
}

.nav-item-4:hover {
    border-bottom: 4px solid rgb(180, 180, 23);
}

.nav-item-5:hover {
    border-bottom: 4px solid rgb(9, 177, 177);
}

.nav-item-6:hover {
    border-bottom: 4px solid rgb(235, 50, 50);
}

.red {
    color: rgb(235, 50, 50);
}

.pink1 {
    color: rgb(233, 61, 204);
}

.orange1 {
    color: rgb(231, 120, 45);
}

.yellow {
    color: rgb(179, 179, 13);
}

.cyan {
    color: rgb(9, 177, 177);
}

.width-studio {
    width: 35%;
    left: 55px !important;
    padding-left: 50px;

}

.content-list {
    visibility: hidden;
    position: fixed;
    padding: 30px;
    background-color: white;
    border: 1px solid transparent;
    box-shadow: 0px 0px 4px grey;
    left: 109px;
    top: 58px;

}

.pl-1 {
    padding-left: 55px;
}

.content {
    visibility: hidden;
    position: fixed;
    padding: 30px;
    background-color: white;
    border: 1px solid transparent;
    box-shadow: 0px 0px 4px grey;
    left: 200px;
    top: 55px;
}

.svg-image {
    width: 20%;
}

.studio-width {
    padding-left: 30%;
}

.men:hover .content-list {
    visibility: visible;
}

.men:hover .content {
    visibility: visible;
}

.image-studio {
    width: 500px
}

.btn-expand {
    width: 15%;
    border-radius: 3px;
}

.card-icon {
    position: absolute;
    background-color: white;
    top: 68%;
    left: 3%;
    font-size: 9px;
    padding: 0px 2px;
}

.card-icon1 {
    position: absolute;
    background-color: white;
    top: 65%;
    left: 3%;
    font-size: 9px;
    padding: 0px 2px;
}

.nav-link:hover .content-list {
    display: flex;
}

.btn-studio {
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
    height: 5%;
    font-size: 12px !important;
    margin-left: 10px;
}

.studio-font {
    font-size: 24px !important;
    font-weight: 400;
}

.right {
    padding-right: 30px;
}

.zoom {
    transition: transform .2s;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.05);

}

.bg-image {
    background:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../asset/img2.webp");
    background-size: cover;
    width: 60px;
}

.more {
    position: absolute;
    /* top: 10%; */
    color: white;
    font-size: 12px !important;
    margin-top: 18px;
    margin-left: 10px;
}