*{
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    padding: 0;
    margin: 0;
}
.border{
    border: 4px solid rgb(59, 168, 236);
    margin: 15px;
    padding: 15px;
    padding-bottom: 13%;
}
.header{
    background-color:rgb(59, 168, 236) ;
    color: white;
    width: 98%;
    text-align: center;
    padding: 5px;
    margin-left: 10px;
}
h1{
    font-size:45px;
    font-weight: 200;
}
.fa-circle-chevron-down{
    color:rgb(59, 168, 236) ;
    font-size: 20px;
    float: right;
}
.fa-circle-chevron-up{
    color:rgb(59, 168, 236) ;
    font-size: 20px;
    float: right;
}
.button {
    background-color: rgb(247, 240, 240);
    color: black;
    cursor: pointer;
    padding: 18px;
    border: none;
    margin-top: 20px;
    text-align: left;
    outline: none;
    margin-bottom: 10px;
    font-size: 15px; 
}
 .button:hover {
    background-color: rgb(59, 168, 236);
    color: #fff;
}
.button:hover .fa-circle-chevron-down{
    transform: rotate(180deg);
}
p{
    text-align: justify;
}
.panel {
    padding: 0 18px;
    width: 100%;
    display: none;
    background-color: white;
    overflow: hidden;
}
.active{
    background-color: #3495d9;
    color: white;
}
.accordion{
    width: 30%;
    margin-left: 35%;
    margin: 0 auto;
}